* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --main-radius: 5px;
  --text-shadow: 1px 1px 2px black;
  /* --text-shadow: 0 0 10px rgb(0 0 0 / 33%); */
  --transparent-background-color: rgba(48, 47, 47, 0.5);
  --main-text-color: rgb(185, 183, 183);
}

body {
  background-color: #faf9f6;
}

.main {
  height: 100vh;
  display: flex;
}

.main-home {
  background-image: url("jpg/background2.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

/* ****************** HEADER ********************* */
.header {
  background-color: #faf9f6;
  padding: 1.5rem 4rem 0 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  text-align: right;
  /* box-shadow: 5px 1px 13px rgb(197, 197, 197); */
}

.no-background-color-header {
  background-color: transparent;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.nav-list {
  margin-bottom: 0;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  /* color: white; */
  color: black;
  text-align: center;
  padding: 18px 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
}

/* Change the color of links on hover */
.nav-list a:hover {
  color: var(--main-text-color);
}

/* Add a color to the active/current link */
.nav-list a.active {
  color: var(--main-text-color);
}

/* **************** INDEX PAGE - SIDEBAR / SECTION ********************* */

#content {
  display: flex;
  flex-direction: row;
  text-shadow: var(--text-shadow);
  color: white;
}

.sidebar,
.section {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: var(--transparent-background-color);
  width: 25%;
  left: 0;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.section {
  width: 75%;
  right: 0;
  justify-content: center;
  align-items: flex-start;
}

.section h1,
.section p {
  font-size: 2rem;
  align-items: flex-start;
  padding: 0 5rem;
}

.section-buttons {
  display: flex;
  flex-direction: row;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile img {
  border-radius: 50%;
  align-content: center;
  width: 50%;
  height: auto;
}

.profile h2,
.profile p {
  padding-top: 20px;
}

.social-media p {
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.social-media a {
  color: white;
  text-shadow: var(--text-shadow);
  text-decoration: none;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

.social-media i:hover,
.social-media span:hover {
  color: var(--main-text-color);
}

.home-portfolio-btn {
  padding-left: 5rem;
  padding-bottom: 1rem;
}

/* ******************** ABOUT PAGE******************* */
/*check the other css file styletimeline.css*/

/* ******************** PORTFOLIO PAGE ******************* */

.main-portfolio {
  flex-direction: column;
}

#portfolio-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10rem 10rem 5rem 10rem;
  height: auto;
  width: 100vw;
  color: rgba(48, 47, 47);
  row-gap: 20px;
}

.portfolio-btn-to-github {
  padding-left: 10rem;
  padding-bottom: 10rem;
}

.btn-background {
  background: rgb(222 220 220 / 50%);
}

.portfolio-item {
  padding: 30px;
  height: 200px;
  border-radius: var(--main-radius);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

#portfolio-content a {
  width: 30%;
  text-decoration: none;
}

.portfolio-item i,
.portfolio-item span {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  background: rgb(222 220 220 / 50%);
}

.portfolio-item i {
  padding-top: 3px;
  padding-right: 2px;
}

.item-1 {
  background-image: url("jpg/cover_books.jpg");
}

.item-2 {
  background-image: url("jpg/cover_weather.jpg");
}

.item-3 {
  background-image: url("jpg/cover_HB_Hotel.jpg");
}

.item-4 {
  background-image: url("jpg/cover_movie_tickets_app.png");
}

.item-5 {
  background-image: url("jpg/cover_phone_book.jpg");
}

.item-6 {
  background-image: url("jpg/cover_shopping_list.jpg");
}

/* ******************** CONTACT PAGE ******************* */

#contact-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

#contact-container {
  background-color: var(--transparent-background-color);
  border-radius: var(--main-radius);
  color: rgb(231, 230, 230);
  width: 50%;
  padding: 20px;
  text-align: center;
}

#contact-container h1 {
  padding-bottom: 5px;
}

.form-control {
  padding: 5px;
}

.form-control input,
.form-control button {
  height: 40px;
}

.form-control input,
.form-control textarea,
.form-control button {
  border: 1px solid #aaaaaa;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(231, 230, 230);
  color: rgba(48, 47, 47);
  border: none;
}

.form-control textarea {
  resize: none;
  height: 95px;
}

#form input:hover,
#form textarea:hover {
  background-color: rgb(248, 245, 245);
}

#form input:focus,
#form textarea:focus {
  outline: none;
}

#form button:hover {
  cursor: pointer;
  background-color: #363636;
  color: rgb(231, 230, 230);
}

.social-media {
  padding-top: 15px;
}

#footer {
  display: flex;
  margin: 10px 5px 0 5px;
  width: 100%;
}

.footer-item {
  background-color: rgb(231, 230, 230, 0.9);
  width: 50%;
  text-align: center;
  padding: 1%;
}

.footer-item i {
  font-size: 29px;
  padding-bottom: 10px;
  color: rgb(68, 68, 68);
}

.footer-item a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

/* ******************** RESPONSIVE FOR SMARTPHONE ******************* */

@media (max-width: 500px) {
  .header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
  }

  .nav-list {
    display: flex;
    padding-left: 0;
  }

  .nav-list li a {
    font-size: 12px;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .sidebar,
  .section {
    position: static;
    display: flex;
    width: 100%;
    height: auto;
  }

  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 10px 0 20px;
  }

  .sidebar p {
    font-size: 13px;
    padding-top: 0;
  }

  .profile {
    width: 50%;
  }
  .profile img {
    width: 25%;
  }

  .social-media p {
    display: none;
  }

  .profile h2,
  .social-media {
    padding-top: 0;
    margin-bottom: 0;
  }

  .section {
    padding: 65px 0 25px 0;
  }

  .section h1,
  .section p {
    padding: 0 4rem;
    font-size: 1.5rem;
  }

  .section-buttons {
    flex-direction: column;
  }

  .home-portfolio-btn {
    padding-left: 3.9rem;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  /* about page */
  .container {
    margin-top: 5em;
    padding: 0 5%;
  }

  .about-me {
    font-size: 0.6em;
    margin-bottom: 1.5rem;
  }

  #timeline {
    font-size: 1rem;
    font-weight: bold;
  }

  .timeline-title {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .timeline-heading h6 {
    font-size: 0.9rem;
  }

  small {
    font-size: 10px;
  }

  .timeline-body {
    font-size: 12px;
  }

  .timeline > li > .timeline-badge {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 52%;
  }

  .timeline > li > .timeline-panel {
    padding: 12px;
  }

  /* portfolio page */
  #portfolio-content {
    display: block;
    padding: 6rem 4rem 1rem 4rem;
  }

  .portfolio-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .portfolio-btn-to-github {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  .portfolio-btn-to-github button {
    font-size: 12px;
  }

  /* contact page */
  #contact-content {
    padding-top: 10%;
    height: 100vh;
  }

  #contact-container {
    display: block;
    width: 90%;
  }

  #form {
    padding-bottom: 10px;
  }

  #contact-container h1 {
    font-size: 1.5em;
  }

  .footer-item p {
    font-size: smaller;
    padding: 0 8px 8px 8px;
  }

  .footer-item i {
    font-size: 1.3em;
    padding: 8px;
  }
}
